@use '../Foundation';

.l-header {
    color: Foundation.$base_black;
    font-family: Foundation.$e-family;
    font-weight: 500;
    width: 100%;
    position: fixed;
    z-index: 5;
    padding: 2rem 3rem;
    @include Foundation.mq('tab-pc') {
        position: relative;
    }
    &__container {
        max-width: Foundation.$max;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: Foundation.$max;
        margin-left: auto;
        margin-right: auto;
    }
    &__icon {
    }

    &__nav {
    }
}
