@use '../../Foundation';
.c-icon {
    display: block;

    &.c-icon--header {
        width: 4rem;
        font-size: 3.6rem;
        @include Foundation.mq('tab-pc') {
            width: 5rem;
            font-size: 4.8rem;
        }
    }
    &.c-icon--head-user {
        display: none;
        @include Foundation.mq('tab-pc') {
            display: block;
            width: 5rem;
            font-size: 4.8rem;
        }
    }
    &.c-icon--footer {
        width: 3.5rem;
        @include Foundation.mq('tab-pc') {
            width: 6rem;
        }
    }
}
