@use '../../Foundation';

.c-nav {
    display: flex;
    &.c-nav--sns {
        flex-wrap: wrap;
        font-size: 3.2rem;
        color: Foundation.$icon;
    }
    &__item {
        display: block;
        margin-left: 2rem;
        font-size: 2.4rem;
        &--first-margin-0:first-child {
            margin-left: 0;
        }
    }
    &__link {
        position: relative;
        color: inherit;
        font-size: inherit;
        &.c-nav__link--underline {
            &::after {
                position: absolute;
                left: 0;
                content: '';
                width: 100%;
                height: 0.2rem;
                bottom: -0.1rem;
                transform: scale(0, 1);
                transform-origin: center top;
                transition: transform 0.3s;
            }
            @media (hover: hover) {
                &:hover::after {
                    transform: scale(1, 1);
                }
            }
            @media (hover: none) {
                &:active::after {
                    transform: scale(1, 1);
                }
            }
        }
        &.c-nav__link--header {
            font-size: 3.6rem;
            color: Foundation.$icon;
            &::after {
                background-color: Foundation.$main;
            }
        }
        @media (hover: hover) {
            &:hover,
            &:focus {
                color: Foundation.$base_gray;
            }
        }
        @media (hover: none) {
            &:active,
            &:focus {
                color: Foundation.$base_gray;
            }
        }
        &.c-nav__link--footer {
            font-size: 2rem;
            @media (hover: hover) {
                &:hover,
                &:focus {
                    color: Foundation.$base_gray;
                }
            }
            @media (hover: none) {
                &:active,
                &:focus {
                    color: Foundation.$base_gray;
                }
            }
        }
        &.c-nav__link--sns {
            color: Foundation.$icon;
            font-size: 4rem;
            @media (hover: hover) {
                &:hover,
                &:focus {
                    color: Foundation.$main;
                }
            }
            @media (hover: none) {
                &:active,
                &:focus {
                    color: Foundation.$main;
                }
            }
        }
    }
}
