@use '../../Foundation';

.p-auth {
    padding-top: 3rem;
    padding-bottom: 6rem;
    &__tab {
        margin-bottom: 2rem;
        max-width: 100vw;
        display: flex;
        flex-wrap: nowrap;
    }
    &__container {
        margin: auto;
        max-width: 90%;
        @include Foundation.mq('tab-pc') {
            max-width: 60%;
        }
    }
}
